
body {
    font-family: "Nanum Gothic", sans-serif !important
}


input::placeholder {
    color: #9F9F9F !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }


html, body{
    overflow : auto;
}