.bg-custom {
    background-color: #F6648C;
}

.fa.fa-navicon {
    color: white;

}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.container {

}

a.nav-link:active {
    background-color: #F6648C;
    color: black;
}

a.nav-link:hover  {
    background-color: #F6648C;
    color: blue;
    text-decoration: none;
}

a.nav-link:link {
    color: black;
}
a.nav-link:visited{
    color: black;
    background-color : #F6648C;
}


body > div > ul{
    margin-top: 15px;
}

table > tbody > tr:hover {
    background-color: #F0F0F0;
}

table > thead > tr{
    background-color: #FABCCD;
    font-size: 20px
}

body > div > div > div > form > div.text-right{
    display: flex;
    align-items : flex-end;
    justify-content : flex-end;
    margin-left: 2px;
}

.page_display{
    display: flex;
    align-items : center;
    justify-content : center;
    margin-bottom: 0px;
}

/*.scrap-wrap{*/
/*    display: inline-flex;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*}*/

.cosmetic-combine{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
.nav-item > .active{

        background-color : #F6648C !important;
}


.vid-select{
    width: 30px;
}
tbody > .vid-select > input{
    display: flex;
    justify-content: center;
    align-items: center;
}