body{
 font-family: "Nanum Gothic", sans-serif !important

}

.bg-custom {
    background-color: #F6648C;
}

.fa.fa-navicon {
    color: white;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}


/* a.nav-link:active {
    background-color: #F6648C;
    color: black;
}

a.nav-link:link {
    color: black;
}

a.nav-link:visited {
    color: black;
    background-color: #F6648C;
} */


body > div > ul {
    margin-top: 5px;
}

table > tbody > tr:hover {
    background-color: #F0F0F0;
}

table > thead > tr {
    background-color: #FABCCD;
}

td a.nav-link:hover {
    background-color: rgb(230, 230, 230);
    text-decoration: none;
}

body > div > div > div > form > div.text-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 2px;
}

.page_display {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

/*.scrap-wrap{*/
/*    display: inline-flex;*/
/*    width: 100%;*/
/*    justify-content: space-between;*/
/*}*/

/*.cosmetic-combine {*/
/*    display: inline-flex;*/
/*    width: 100%;*/
/*    justify-content: space-around;*/
/*}*/

.nav-item > .active {
    font-weight: bold;
}


.vid-select {
    width: 30px;
}

tbody > .vid-select > input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-sign-in,
.fa-user-o {
    margin-right: 5px;
}

/*.nav-item {*/
/*    padding-right: 10px;*/
/*}*/

.btn {
    margin-right: 5px;
    margin-bottom : 10px;
}

.pagination *,
.pagination *:link,
.pagination *:active,
.pagination *:visited {
    color: #F6648C !important;
    outline: none;
    box-shadow: none !important;
}

.pagination *:hover {
    color: #F6648C;
}

.scrolltbody{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.scrolltbody tbody{
  display:block;
  width: 100%;
  overflow: auto;
}

.scrolltbody thead tr {
   display: block;
}

.scrolltbody th, .scrolltbody td {
  text-align: left;
}

.combine-table tbody { height: 65vh; }
.combine-table th:nth-of-type(1), .combine-table td:nth-of-type(1) { width: 30px; }
.combine-table th:nth-of-type(2), .combine-table td:nth-of-type(2) { width: 1000px; }
.combine-table th:nth-of-type(3), .combine-table td:nth-of-type(3) { width: 1000px; }

.result-cos tbody, .result-video tbody { height : 75vh;}
.result-cos th:nth-of-type(1), .result-cos td:nth-of-type(1) { width: 900px; }

.result-video th:nth-of-type(1), .result-video td:nth-of-type(1) { width: 30px; }
.result-video th:nth-of-type(2), .result-video td:nth-of-type(2) { width: 900px; }
.result-video th:nth-of-type(3), .result-video td:nth-of-type(3) { width: 220px; }
.result-video th:nth-of-type(4), .result-video td:nth-of-type(4) { width: 900px; }


.scrolling{
    overflow: auto;
    white-space: nowrap;
    table-layout: fixed;
}

/*.big-cate{*/

/*    width: 200px;*/
/*}*/
ul{
    padding: 0;
}
li{
    list-style: none;
}

table, td{
  border:1px solid #EEEEEE

}


.footer {
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 768px) {
    .container-fluid {
      margin-left: 14%;
      margin-right: 14%;
      width : 72%;
    }

    .result-cos tbody {
        height : 40vh;
    }
 }

