{% extends "base.html" %}

{% block body %}
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beauty:home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beauty:video_list' 'all' %}">Videos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beauty:cosmetic_list' 'all' %}">Cosmetics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beauty:combine_cosmetic' 'all' %}">Combination</a>
    </li>
</ul>
{% block content %}
{% endblock %}
{% endblock %}