{% extends 'beauty/base.html' %}

{% block title %}
Combine Cosmetics
{% endblock %}

{% block content %}
<div class="container-fluid row">
    <div class="col-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if kind == 'all' %} active {% endif %}"
                    href="{% url 'beauty:combine_cosmetic' 'all' %}">all</a>
            </li>
            {% for big_category in big_categories %}
            <li class="nav-item">
                <a class="nav-link {% if big_category == curr_big %} active {% endif %}"
                    href="{% url 'beauty:combine_cosmetic' big_category.smallcate_set.all.0.eng_name %}">{{ big_category }}</a>
            </li>
            {% endfor %}
        </ul>
        {% if kind != 'all' %}
        <ul class="nav nav-tabs">
            {% for small_category in small_categories %}
            <li class="nav-item">
                <a class="nav-link {% if small_category == curr_small %} active {% endif %}"
                    href="{% url 'beauty:combine_cosmetic' small_category.eng_name %}">{{ small_category }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'beauty:cosmetic_pick' %}" method="post">
            {% csrf_token %}
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                {% if kind == 'all' %}
                                <th>category</th>
                                {% endif %}
                                <th>cosmetic</th>
                                <th>check</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cosmetic in cosmetics %}
                            {% load mathfilters %}
                            <tr>
                                <td>
                                    {% if pageNum %}
                                    {{  pageNum|mul:PAGE_ROW_COUNT| sub:PAGE_ROW_COUNT |add:forloop.counter }}
                                    {% else %}
                                    {{ forloop.counter }}
                                    {% endif %}
                                </td>
                                {% if kind == 'all' %}
                                <td>{{ cosmetic.category }}</td>
                                {% endif %}
                                <td>{{ cosmetic.name }}</td>
                                <td><input type="checkbox" name="{{ cosmetic.id }}" /></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'beauty/pagination.html' %}
                </div>
            </div>
            <input type="hidden" name="kind" value="{{ kind }}">
            <input type="submit" value="담기">
        </form>
    </div>
    <div class="col-6">
        <form action="{% url 'beauty:cosmetic_delete' %}" method="post">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>category</th>
                        <th>cosmetic</th>
                        <th>check</th>
                    </tr>
                </thead>
                <tbody>
                    {% for selection in selected %}
                    <tr>
                        <td>{{ selection.category }}</td>
                        <td>{{ selection.name }}</td>
                        <td><input type="checkbox" name="{{ forloop.counter }}" /></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="kind" value="{{ kind }}">
            <input type="submit" value="delete">
        </form>

        <form action="{% url 'beauty:cosmetic_reset' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="kind" value="{{ kind }}">
            <input type="submit" value="reset">
        </form>

        <form action="{% url 'beauty:combine_result' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="result">
        </form>
    </div>
</div>
{% endblock %}