{% extends 'beauty/base.html' %}

{% block title %}
Combine Cosmetics
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if kind == 'all' %} active {% endif %}"
                    href="{% url 'beauty:combine_cosmetic' 'all' %}">all</a>
            </li>
            {% for kind_name in cosmetic_kind %}
            <li class="nav-item">
                <a class="nav-link {% if kind == kind_name %} active {% endif %}"
                    href="{% url 'beauty:combine_cosmetic' kind_name %}">{{ kind_name }}</a>
            </li>
            {% endfor %}
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                {% if kind == 'all' %}
                                <th>category</th>
                                {% endif %}
                                <th>ID</th>
                                <th>cosmetic</th>
                                <th>check</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cosmetic in cosmetics %}
                            {% load mathfilters %}
                            <tr>
                                <td>
                                    {% if pageNum %}
                                    {{  pageNum|mul:10| sub:10 |add:forloop.counter }}
                                    {% else %}
                                    {{ forloop.counter }}
                                    {% endif %}
                                </td>
                                {% if kind == 'all' %}
                                <td>{{ cosmetic.category }}</td>
                                {% endif %}
                                <td>{{ cosmetic.id }}</td>
                                <td>{{ cosmetic.name }}</td>
                                <td><input type="checkbox" name="{{ cosmetic.id }}" /></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include 'beauty/pagination.html' %}
                </div>
            </div>
            <input type="submit" value="담기">
        </form>
    </div>
    <div class="col-6">
        <form action="" method="post">
            {% csrf_token %}
            <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>category</th>
                            <th>cosmetic</th>
                            <th>check</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for selection in selected %}
                        <tr>
                            <td>{{ selection.id }}</td>
                            <td>{{ selection.category }}</td>
                            <td>{{ selection.name }}</td>
                            <td><input type="checkbox" name="{{ forloop.counter }}" /></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <input type="hidden" name="delete_selected">
            <input type="submit" value="delete">
        </form>

        <form action="{% url 'beauty:combine_result' %}" method="post">
            {% csrf_token %}
            {% for selection in selected %}
                <input type="hidden" name="{{ selection.id }}" />
            {% endfor %}
            <input type="submit" value="result">
        </form>

        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="reset_selected">
            <input type="submit" value="reset">
        </form>
    </div>
</div>
{% endblock %}