{% extends 'beauty/base.html' %}

{% block title %}
Cosmetic List
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if kind == 'all' %} active {% endif %}" href="{% url 'beauty:cosmetic_list' 'all' %}">all</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if kind == 'lip' %} active {% endif %}" href="{% url 'beauty:cosmetic_list' 'lip' %}">lips</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if kind == 'brush' %} active {% endif %}" href="{% url 'beauty:cosmetic_list' 'brush' %}">brushes</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active">
        <table class="table">
            {% include "beauty/cosmetic_thead.html" %}
            <tbody>
                {% for cosmetic in cosmetics %}
                {% include "beauty/cosmetic_tbody.html" %}
                {% endfor %}
            </tbody>
        </table>
        {% include 'beauty/pagination.html' %}
    </div>
</div>

{% endblock %}