{% extends 'beauty/base.html' %}

{% block title %}
Cosmetic List
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if kind == 'all' %} active {% endif %}"
                href="{% url 'beauty:cosmetic_list' 'all' %}">전체 화장품</a>
        </li>
        {% for big_category in big_categories %}
        <li class="nav-item">
            <a class="nav-link {% if big_category == curr_big %} active {% endif %}"
                href="{% url 'beauty:cosmetic_list' big_category.smallcate_set.all.0.eng_name %}">{{ big_category }}</a>
        </li>
        {% endfor %}
    </ul>
    {% if kind != 'all' %}
    <ul class="nav nav-tabs">
        {% for small_category in small_categories %}
        <li class="nav-item">
            <a class="nav-link {% if small_category == curr_small %} active {% endif %}"
                href="{% url 'beauty:cosmetic_list' small_category.eng_name %}">{{ small_category }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="tab-content">
        {% if user.is_authenticated %}
        <form action="{% url 'beauty:cosmetic_scrap' %}" method="post">
            {% csrf_token %}
            {% endif %}
            <div class="scroll-wrap mb-1 main-table">
                <div class="scrolling table-responsive scrollbar-lady-lips thin square">
                    <table class="table">
                        <thead>
                            <tr>
                                {% if user.is_authenticated %}
                                <th class="vid-select"><span><i class="fa fa-check"></i></span></th>
                                {% endif %}

                                <th width="20">랭킹</th>

                                {% if kind == 'all' %}
                                <th>분류</th>
                                {% endif %}

                                <th>제품</th>
                                <th width="60%">유튜브 영상</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cosmetic in cosmetics %}
                            {% load mathfilters %}
                            <tr>
                                {% if user.is_authenticated %}
                                <td>
                                    <div class="custom-control custom-checkbox d-inline">
                                        <input type="checkbox" class="custom-control-input" name="cosmetic_id"
                                            id="customCheck{{ cosmetic.id }}" value="{{ cosmetic.id }}">
                                        <label class="custom-control-label" for="customCheck{{ cosmetic.id }}"></label>
                                    </div>
                                </td>
                                {% endif %}
                                <td>
                                    {% if pageNum %}
                                    {{ pageNum|mul:PAGE_ROW_COUNT| sub:PAGE_ROW_COUNT |add:forloop.counter }}
                                    {% else %}
                                    {{ forloop.counter }}
                                    {% endif %}
                                </td>
                                {% if kind == 'all' %}
                                <td>{{ cosmetic.category.bigcate }}</td>
                                {% endif %}
                                <td>{{ cosmetic.name }}</td>
                                <td>
                                    <ul class="m-0">
                                        {% for video in cosmetic.video_set.all|slice:yt_num %}
                                        <li>
                                            {{ video.title }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if user.is_authenticated %}
            <input type="hidden" name="kind" value="{{ kind }}">
            <input type="hidden" name="pageNum" value="{{ pageNum }}">
            <div class="text-right">
                <button type="submit" class="btn btn-primary mt-auto" name="selection" value="interest">관심 화장품
                    담기</button>
                <button type="submit" class="btn btn-primary mt-auto" name="selection" value="my">내 화장품
                    담기</button>
            </div>
        </form>
        {% endif %}
        {% include 'beauty/pagination.html' %}
    </div>
</div>
{% endblock %}