{% extends 'beauty/base.html' %}

{% block title %}
HOME
{% endblock %}

{% block content %}
<h1>Youtubers</h1>
<div>
    {% for youtuber in youtubers %}
    <p>{{ youtuber }}</p>
    {% endfor %}
</div>

<h1>Videos</h1>
<div>
    {% for video in videos %}
    <p>{{ video }}</p>
    <h4>화장품 목록</h4>
    {% for cosmetic in video.cosmetic.all %}
    <p>{{ cosmetic }}</p>
    {% endfor %}
    <hr>
    {% endfor %}
</div>

<h1>Cosmetics</h1>
<div>
    {% for cosmetic in cosmetics %}
    <p>{{ cosmetic.name }}</p>
    {% endfor %}
</div>
{% endblock %}