{% extends 'beauty/base.html' %}
{% load static %}



{% block title %}
    HOME
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

    <script>
        AOS.init();
    </script>

    <style>
        header {
            background-image: url('{% static "main.jpeg" %}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
        }
    </style>
    <header class="bg-primary">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center">
                        <h1 class="display-4">Veauty Inside</h1>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 mx-auto">
                                <div class="input-group mb-3 d-flex justify-content-center">
                                    {% if user.is_authenticated %}
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark rounded home-btn" type="button"
                                                    onclick="location.href='{% url 'profile' %}' ">
                                                프로필
                                            </button>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark rounded home-btn" type="button"
                                                    onclick="location.href='{% url 'logout' %}?next={{ request.path }}' ">
                                                로그아웃
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark rounded home-btn" type="button"
                                                    onclick="location.href='{% url 'login' %}?next={{ request.path }}' ">
                                                로그인
                                            </button>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark rounded home-btn" type="button"
                                                    onclick="location.href='{% url 'signup' %}?next={{ request.path }}' ">
                                                회원가입
                                            </button>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="container" data-aos="fade-up">
        <div class="row vh-100">
            <div class="col-12 my-auto">
                <div class="row text-center">
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                <h1 class="display-2 text-primary"><i class="fa fa-youtube-square"
                                                                      aria-hidden="true"></i></h1>
                                <h4 class="card-title text-primary">비디오</h4>
                                <p class="card-text">
                                    <div class="text-primary">뷰티유튜버 컨텐츠 내 화장품 정보 공유 서비스</div>
                                    <div>뷰티유튜버 컨텐츠에서 사용된 모든 화장품 정보 제공</div>
                                </p>
                                
                                <a href="video/" class="btn btn-primary mt-auto">보러 가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                <h1 class="display-2 text-primary"><i class="fa fa-eyedropper" aria-hidden="true"></i>
                                </h1>
                                <h4 class="card-title text-primary">화장품</h4>
                                <p class="card-text">
                                    <div class="text-primary">뷰티유튜버 컨텐츠 기반 화장품 랭킹 공유 서비스</div>
                                    <div>뷰티유튜버 컨텐츠에서 가장 많이 사용된 화장품 랭킹 정보 제공품</div>
                                </p>
                                <a href="cosmetic/" class="btn btn-primary mt-auto">보러 가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                <h1 class="display-2 text-primary"><i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                </h1>
                                <h4 class="card-title text-primary">조합</h4>
                                <p class="card-text">
                                    <div class="text-primary">특정 화장품 사용 뷰티유튜버 컨텐츠 추천 서비스</div>
                                    <div>소유하고 있거나 관심있는 화장품을 등록하여 해당 제품들이 등장하는 뷰티유튜버 컨텐츠 추천</div>
                                </p>
                                <a href="combine/" class="btn btn-primary mt-auto">보러 가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}