{% extends 'beauty/base.html' %}

{% block title %}
Video List
{% endblock %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if period == 'all' %} active {% endif %}"
                href="{% url 'beauty:video_list' 'all' %}">all</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if period == 'month' %} active {% endif %}"
                href="{% url 'beauty:video_list' 'month' %}">month</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if period == 'week' %} active {% endif %}"
                href="{% url 'beauty:video_list' 'week' %}">week</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active">
            <form action="{% url 'beauty:video_scrap' %}" method="post">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>check</th>
                            <th>Rank</th>
                            <th>title</th>

                            {% for big_category in big_categories %}
                            <th>
                                {{ big_category }}
                            </th>
                            {% endfor %}

                            <th>upload</th>
                            <th>scrap</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        {% load mathfilters %}
                        <tr>
                            <td>
                                <input type="checkbox" name="{{ video.id }}"
                                {% if video in user_videos %}
                                checked="checked"
                                {% endif %}>
                            </td>
                            <td>
                                {% if pageNum %}
                                {{  pageNum|mul:PAGE_ROW_COUNT| sub:PAGE_ROW_COUNT |add:forloop.counter }}
                                {% else %}
                                {{ forloop.counter }}
                                {% endif %}
                            </td>
                            <td><a href="{{ video.yt_url }}" target="_blank">{{ video.title }}</a></td>

                            {% for big_category in big_categories %}
                            <td>
                                {% for cosmetic in video.cosmetic.all %}
                                {% if cosmetic.category.bigcate == big_category %}
                                {{ cosmetic.name }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            {% endfor %}

                            <td>{{ video.upload_at }}</td>
                            <td>
                                <form action="{% url 'beauty:video_scrap' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="period" value="{{ period }}">
                                    <input type="hidden" name="pageNum" value="{{ pageNum }}">
                                    <input type="hidden" name="video_id" value="{{ video.id }}">
                                    {% if video in user_videos %}
                                    <input type="submit" name="func" value="cancle">
                                    {% else %}
                                    <input type="submit" name="func" value="scrap">
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'beauty/pagination.html' %}
                <input type="hidden" name="period" value="{{ period }}">
                <input type="hidden" name="pageNum" value="{{ pageNum }}">
                <input type="submit" value="selected scrap">
            </form>
        </div>
    </div>
</div>

{% endblock %}