<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{{ video.yt_url }}" target="_blank">{{ video.yt_url }}</a></td>
    <td>{{ video.title }}</td>
    <td>
        {% for cosmetic in video.cosmetic.all %}
        {% if cosmetic.category == 'lip' %}
        {{ cosmetic.name }}
        {% endif %}
        {% endfor %}
    </td>

    <td>
        {% for cosmetic in video.cosmetic.all %}
        {% if cosmetic.category == 'brush' %}
        {{ cosmetic.name }}
        {% endif %}
        {% endfor %}
    </td>

    <td>{{ video.upload_at }}</td>
</tr>