{% extends "accounts/profile.html" %}

{% block table %}
<form action="{% url 'cosmetic_scrap_processing' %}" method="post">
    {% csrf_token %}
    <div class="scroll-wrap mb-1 profile-table">
        <div class="scrolling table-responsive scrollbar-lady-lips thin square">
            <table class="table">
                <thead>
                    <tr>
                        <th class="vid-select"><span><i class="fa fa-check"></i></span></th>
                        <th>cosmetic</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cosmetic in cosmetics %}
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox d-inline">
                                <input type="checkbox" class="custom-control-input" name="cosmetic_id"
                                    id="customCheck{{ cosmetic.id }}" value="{{ cosmetic.id }}">
                                <label class="custom-control-label" for="customCheck{{ cosmetic.id }}"></label>
                            </div>
                        </td>
                        <td>{{ cosmetic.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="scrap-wrap">
        <input type="hidden" name="kind" value="{{ kind }}">
        <div class="text-right">
            <button type="submit" class="btn btn-primary mt-auto" name="selection" value="combine">화장품
                조합하기</button>
            <button type="submit" class="btn btn-primary mt-auto" name="selection" value="cancel">등록 취소하기</button>
        </div>
    </div>
</form>
{% endblock %}