{% extends "accounts/base.html" %}

{% block content %}

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div id="L">
                <div class="loginA">
                    <div id="top">
                        <form action="" method="post">
                            {% csrf_token %}
                            <h1><a onclick="location.href='{% url 'root' %}'">Veauty Inside</a></h1>
                            <p>스타 유튜버들의 잇템을 공유하세요!</p>
                            <table>
                                {{ form.as_table }}
                            </table>
                            <input type="submit" id="submit" class="submit_L"/>
                        </form>
                        <p>-----------------또는-----------------</p>
                        <button>
                            <a href="">
                                <img src="https://pbs.twimg.com/profile_images/770139154898382848/ndFg-IDH_400x400.jpg"
                                     width="20px">
                                구글로 로그인하기
                            </a>
                        </button>
                    </div>
                    <div id="bottom">
                        계정이 없으신가요?
                        <button onclick="location.href='{% url 'signup' %}'">회원가입</button>
                        <hr/>
                        <p onclick="location.href='{% url 'root' %}'">둘러보기</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}