{% extends "accounts/base.html" %}

{% block content %}


    <form action="" method="post">
        {% csrf_token %}
        <table>
            {#            {{ form.as_table }}#}

        </table>
        <div class="container" id="PasswordReset">
            <div class="d-flex justify-content-center">

                <div id="PasswordR">
                    <h2>비밀번호 변경</h2>
                    {% for field in form %}
                        <p>
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <p>
                        <input type="password" name="old_password" class="form-control" required id="id_password1"
                               placeholder="Old Password">
                    </p>
                    <p>
                        <input type="password" name="password1" class="form-control" required id="id_password1"
                               placeholder="Password">
                    </p>

                    <p>
                        <input type="password" name="password2" class="form-control" required id="id_password2"
                               placeholder="Password Confirmation">
                    </p>
                    <p>
                        <input type="submit"/>
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}