{% extends "beauty/base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height:15vh;">
        <h2>{{ user.nickname }}</h2>

        <a href="{% url "password_change" %}">비밀번호 변경하기</a>
{#        <a href="{% url "nickname_change" %}">닉네임 변경하기</a>#}
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if kind == taps.0 %} active {% endif %}" href="{% url 'profile' taps.0 %}">스크랩한 비디오</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if kind == taps.1 %} active {% endif %}" href="{% url 'profile' taps.1 %}">관심 화장품</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if kind == taps.2 %} active {% endif %}" href="{% url 'profile' taps.2 %}">내 화장품</a>
        </li>
    </ul>
    {% block table %}
    {% endblock %}

</div>
{% endblock %}