{% extends "accounts/base.html" %}

{% block content %}
<div class="container">
    <h2>{{ user }}</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if kind == taps.0 %} active {% endif %}" href="{% url 'profile' taps.0 %}">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if kind == taps.1 %} active {% endif %}" href="{% url 'profile' taps.1 %}">Interested Cosmetics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if kind == taps.2 %} active {% endif %}" href="{% url 'profile' taps.2 %}">MY Cosmetics</a>
        </li>
    </ul>

    {% block table %}
    {% endblock %}

</div>
{% endblock %}