{% extends "accounts/base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-sm-0 col-md-6 col-lg-5 border align-content-center">

        </div>
        <div class="col-sm-10 col-md-6 col-lg-5 px-5 py-4 border border-primary">
            <div class="row d-flex justify-content-center">
                <h1><a href="{% url 'root' %}">Veauty Inside</a></h1>
            </div>
            <div class="row d-flex justify-content-center">
                <p>스타 유튜버들의 잇템을 공유하세요!</p>
            </div>

            <div class="row d-flex justify-content-center">
                {% for field in form %}
                {% for error in field.errors %}
                <div class="w-100 alert alert-danger alert-dismissable show fade m-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ error }}
                </div>
                {% endfor %}
                {% endfor %}
                <form action="" method="post" class="w-100 p-1">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control mb-2" maxlength="150" autofocus required
                        id="id_username" placeholder="ID">
                    <input type="text" name="first_name" class="form-control mb-2" maxlength="30" id="id_first_name"
                        placeholder="First name">
                    <input type="text" name="last_name" class="form-control mb-2" maxlength="150" id="id_last_name"
                        placeholder="Last name">
                    <input type="text" name="nickname" class="form-control mb-2" maxlength="50" required
                        id="id_nickname" placeholder="NickName">
                    <input type="password" name="password1" class="form-control mb-2" required id="id_password1"
                        placeholder="Password">
                    <input type="password" name="password2" class="form-control mb-2" required id="id_password2"
                        placeholder="Password Confirmation">
                    <input type="text" name="birth" class="form-control mb-2" required id="id_birth"
                        placeholder="YYYY-MM-DD">
                    <select name="gender" class="form-control mb-2" required id="id_gender">
                        <option value="m">남성</option>
                        <option value="f">여성</option>
                        <option selected="selected">성별</option>
                    </select>
                    <button type="submit" class="btn btn-outline-primary w-100">가입하기</button>
                </form>
            </div>
            <hr />
            <div class="row  d-flex justify-content-center">
                <p>회원가입 없이</p>
            </div>
            <div class="row  d-flex justify-content-center">
                <a href="{% url 'beauty:combine_cosmetic' %}">둘러보기</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}