{% extends "accounts/profile.html" %}

{% block table %}
<form action="{% url 'video_scrap_processing' %}" method="post">
    {% csrf_token %}
    <div class="scroll-wrap mb-1 profile-table">
        <div class="scrolling table-responsive scrollbar-lady-lips thin square">
            <table class="table">
                <thead>
                    <tr>
                        <th class="vid-select"><span><i class="fa fa-check"></i></span></th>
                        <th>랭킹</th>
                        <th>제목</th>

                        {% for big_category in big_categories %}
                        <th>
                            {{ big_category }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                    {% load mathfilters %}
                    <tr>
                        <td class="vid-select">
                            <div class="custom-control custom-checkbox d-inline">
                                <input type="checkbox" class="custom-control-input" name="video_id"
                                    id="customCheck{{ video.id }}" value="{{ video.id }}">
                                <label class="custom-control-label" for="customCheck{{ video.id }}"></label>
                            </div>
                        </td>
                        <td>
                            {% if pageNum %}
                            {{ pageNum|mul:PAGE_ROW_COUNT| sub:PAGE_ROW_COUNT |add:forloop.counter }}
                            {% else %}
                            {{ forloop.counter }}
                            {% endif %}
                        </td>
                        <td width="350em" nowrap><a href="{{ video.yt_url }}" target="_blank">{{ video.title }}</a></td>

                        {% for big_category in big_categories %}
                        <td class="big-cate">
                            <ul class="m-0">
                                {% for cosmetic in video.cosmetic.all %}

                                {% if cosmetic.category.bigcate == big_category %}
                                <li>
                                    {{ cosmetic.name }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="scrap-wrap">
        <div class="text-right">
            <button type="submit" class="btn btn-primary mt-auto">스크랩 취소하기</button>
        </div>
    </div>
</form>
{% endblock %}